<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Camera Dot Com</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/cameraModels.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Camera Dot Com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header class="bg-primary py-2 mb-4" -->
  <header class=" py-4 mb-5">
    <div class="container h-100">
      <div class="row h-150 align-items-center">
        <div class="col-lg-12" style="background-color: lightgrey; text-align: center">
          <h1 class="display-8 text-black mt-5 mb-2">Camera Dot Com</h1>
          <p class="lead mb-10 text-black-100 ">Camera Dot Com will be your favourite stop in IRELAND to buy Cameras and Accessories.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class=" mb-5">
        <h2>Why Buy with us</h2>
        <hr>
        <p>The Camera DOT Com, has been serving photographers throughout Ireland with photographic equipment, accessories and photo printing services since 2015.</p>
        <p>"It's been almost two years since I switched from a DSLR to a mirrorless camera.  Personally, I love my mirrorless camera. In this post I want to share with you the features and benefits of mirrorless cameras that I enjoy.
        <br>However, I hope that after reading this you don't think that mirrorless is all rainbows and unicorns. 
        There are still PLENTY of benefits to DSLR cameras as well, and drawbacks to mirrorless cameras, but that's beyond the scope of this article."</p>
        By our customer - Victor Silva.
     </div>
      <div class=" mb-5">

    <div class="container">
    
		<div class="row">
			<div class="col-lg-12 text-center">
				<p class="lead">Select a item to add in your Cart.</p>
               
			</div>
            
			<div id="results" class="col-lg-8 text-center order-3"></div>
			<div class="col-lg-4 text-center order-2">
				<form enctype="application/json" action="/post/json" method="post">
					<div class="form-group">
						<select class="form-control" name="sec_n" >
							<option value="0">Camera</option>
							<option value="1">Camera Lens</option>
							<option value="2">Tripod</option>
                            <option value="2">Gimpal</option>
						</select>
					</div>

                    <div class="form-group">

						<input class="form-control" type="text" name="item" placeholder="Item">
                    </div>

					<div class="form-group">
						<input class="form-control" type="text" name="price" placeholder="Price">
					</div>
 
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</form>
                    <button id="delete" class="btn btn-block btn-danger">Delete</button>
                    <p class="text-muted">To delete an item, click the required row first</p>
			</div>
		</div>
	</div>

       <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Camera Dot Com</strong>
          <br>35 Mountjoy Square
          <br>Dublin 1, CA2
          <br>
        </address>
        <address>
          <abbr title="Phone">Phone:</abbr>
          (123) 333-2222
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>
   

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Victor Silva - 18265</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.js"></script>
  <script src="jquery/table.js"></script>
  <script src="js/bootstrap.min.js"></script>
 
  <script>
  window.addEventListener("load", function() {
    document.querySelector("#ShowGF").addEventListener("click", function() {
    highlightGF('menuTable', this.checked)
    })
  });
  </script>
</body>

</html>
